body{
    background-color: rgb(255, 211, 186);

}

h1{
    color: rgb(167, 79, 29);
text-align: center;
border: solid;
}

p{
    color: rgb(167, 79, 29);
text-align: center;
}

img{
    
}
h2{
    text-align: center;
    color: rgb(167, 79, 29);
}