body{
    background-color: rgb(255, 222, 203);
font-size: 23px;
}

h1{
    color: rgb(167, 79, 29);
text-align: center;
border: solid;

}

p{
    color: rgb(167, 79, 29);
text-align: center;

}

img{
    display: block;
    margin: auto;
    width: 650px;
    border: solid 5px ;
    padding: 5px;
    border-radius: 10px;
}
h2{
    text-align: center;
    color: rgb(167, 79, 29);
}

